*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.inline-block{
    display: inline-block;
}

.relative{
    position: relative;
}


.fx-on-top{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
    z-index: 999;
    
}

.nav{
    margin: 0.5em;
}


.logo a{
    margin-right: 2em;
    text-align: center;
    max-height: 100%;
    margin-left: 0.5em;
    line-height: calc(70px - 1em);
    vertical-align: middle;
}

.logo a img{
    vertical-align: text-bottom;
}

.menu {
    list-style: none;
}

.menu li {
    margin-right: 2em;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    line-height: calc(70px - 1em);
    font-weight: 800;
    color: black;
    vertical-align: middle;
    padding-bottom: 0.4em;
}

.menu li a:hover{
    border-bottom: 2px solid black;
}

.menu a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 16px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.menu a.btn:hover {
    opacity: 60%;
    border-bottom: none;
}

.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 70px;
    padding-bottom: 2em;
}

.jumbo-container{
    width: 80%;
    margin: 0 auto;
}

.jumbo-title{
    margin: 5em 0;
}

.jumbo-title h1{
    font-size: 5.5em;
    line-height: 1.3em;
    font-weight: 800;
}

.jumbo-sub{
    width: 30%;
    margin-right: 10em;
}

.jumbo-sub p{
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 3em;
}

.jumbo-sub a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 16px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-bottom: 2em;
}

.jumbo-sub a.btn:hover {
    opacity: 60%;
}

.jumbo-img{
    width: calc(70% - 10em );
}

.jumbo-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
}

.arrow-down{
    font-size: 2.5em;
    color: black;
}

#piani{
    padding-top: 18em;
}

.piani-container{
    width: 60%;
    margin: 0 auto;
}

.piani-title h2{
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 1em;

}

.piani-choice{
    margin-bottom: 3em;
}

.margin-right-card{
    margin-right: 3em;
}

.card{
    width: calc( (100% / 3) - 2em );
    border: 1px solid lightgray;
    height: 70em;
}

.header-card{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 1em 0;
}

.card-top, .card-bottom{
    width: 80%;
    margin: 1.5em auto;
}

.main-vantaggi{
    width: 100%;
}
.main-vantaggi-left{
    width: 10%;
}
.main-vantaggi-right{
    width: 90%;
}

.card-top h3, .card-large-left h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0.8em;
}

.card-top h4, .card-large-left h4{
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.card-top span {
    display: block;
    color: grey;
    margin-bottom: 1em;
}

.card-top p, .card-large-left p{
    font-weight: 600;
    margin-bottom: 1em;
}

.card-top a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 16px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin: 2em 0;
}

.card-top a.btn:hover {
    opacity: 60%;
}

.card-top .margin-bottom{
    margin-bottom: 2.5em;
}

.card-top a, .box-int a{
    color: #0061fe;
    font-weight: 700;
}

.card-top hr{
    border: 1px solid lightgray;
    width: 6em;
}

.card-bottom h4{
    margin: 2em 0;
    font-size: 1.1em;
    font-weight: 800;
}

.vantaggi{
    list-style: none;
    padding: 0;
}

.vantaggi li {
    padding-left: 1.3em;
    margin-bottom: 2em;
}

.vantaggi li:before {
    content: "\2714";
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: #0061fe;
}

.card-large{
    margin-top: 3em;
    width: 100%;
    border: 1px solid lightgray;
}

.card-large-left{
    width: 60%;
    margin-left: 2em;
    margin-top: 2em;
}

.card-large-right{
    width: calc(40% - 2em);
    margin-top: 2em;
}

.card-large-right a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 90px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.card-large-right a.btn:hover {
    opacity: 60%;
}

#partner{
    width: 60%;
    margin: 0 auto;
    padding-top: 15em;
}

.box-img{
    width: calc(60% - 3em);
    margin-right: 3em;
}

.box-img img{
    max-width: 100%;
}

.box-txt{
    width: 40%;
}

.box-txt h4{
    margin: 2em 0;
    font-size: 2.5em;
    font-weight: 800;
}

.box-txt p{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.box-txt a.btn {
    display: inline-block;
    border: 1px solid black;
    padding: 2px 40px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.box-txt a.btn:hover {
    color: grey;
}

#business{
    width: 60%;
    margin: 0 auto;
    padding-top: 15em;
}

#business h4, .box-int h4{
    margin: 1em 0;
    font-size: 2.5em;
    font-weight: 800;
}

.business-line{
    margin: 1em 0;
}

.business-card{
    width: calc( (100% / 3) - 2em );
}

.header-business-card img{
    max-width: 100%;
}

.bottom-business-card h5{
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: 800;
}

.bottom-business-card p{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.underline{
    text-decoration: underline;
}

#team{
    padding-top: 10em;
}

.box-int{
    width: 60%;
    margin: 0 auto;
}

.main-box-team{
    margin-top: 3em;
    width: 100%;
    height: 32em;
}

.team-small-col{
    width: 15%;
}

.team-big-col{
    width: 40%;
    height: 32em;
    background-color: #F5F5F5;
    overflow: auto;
}

.box{
    width: 100%;
    height: 16em;
    text-align: center;
    line-height: 16em;
}

.box img{
    
    width: 50%;
    vertical-align: middle;
    filter: invert();
}

.big-col-container{
    width: 85%;
    margin: 2em auto;
}

.big-col-container img{
    margin: 2em 0;
    width: 30%;
}

.big-col-container hr{
    border: 1px solid lightgray;
    width: 6em;
}

.big-col-container p{
    margin: 2em 0;
    font-size: 1.2em;
    line-height: 1.5em;
}


.bg-green{
   background-color: #A2D39B;
}

.bg-lightblue{
    background-color: #0093CE;
}

.bg-brown{
    background-color: #61082B;
}

.bg-lightred{
    background-color: #FF1C1C;
}

.bg-darkred{
    background-color: #D5001F;
}

.bg-darkblue{
    background-color: #0D2481;
}

.bg-skyblue{
    background-color: #B4D0E7;
}

.bg-yellow{
    background-color: #FFD830;
}

.call-to-action-container{
    width: 60%;
    margin: 0 auto;
    padding: 5em 0;
}

.call-to-action-left{
    width: calc(60% - 4em);
    margin: 2em 0;
}
.call-to-action-right{
    width: calc(40% - 4em);
    margin: 2em 0;
}

.call-to-action-left h4{
    margin: 1em 0;
    font-size: 2.5em;
    font-weight: 800;
    color: #61082B;
}

.call-to-action-right a.btn {
    margin-top: 2em;
    display: inline-block;
    background-color: white;
    padding: 2px 90px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.call-to-action-right a.btn:hover {
    color: grey;
}


.faq-container{
    width: 60%;
    margin: 3em auto;
    padding: 6em 0;
}

.faq-container h4{
    margin: 1em 0;
    font-size: 2.5em;
    font-weight: 800;
}

.faq-line{
    border-top: 1px solid lightgray;
    padding: 2em 0;
}

.faq-line:last-child{
    border-bottom: 1px solid lightgray;
}

.faq-left{
    width: 99%;
}

.faq-right{
    width: 1%;
}

.faq-left p{
    font-weight: 800;
}

.faq-left .show{
    
    color: grey;
    padding-top: 2em;
    font-weight: 500;
    display: none;
}

.up{
    display: none;
}

.faq-line:hover .show {
    display:block;
}

.faq-line:hover .down {
    display:none;
}

.faq-line:hover .up {
    display:block;
}

footer{
    background-color: black;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;
}

.footer-col{
    width: calc(100% / 5)
}