*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.inline-block{
    display: inline-block;
}

.relative{
    position: relative;
}


.fx-on-top{
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    z-index: 999;
    
}

.nav{
    margin: 0.5em;
}


.logo a{
    margin-right: 2em;
    text-align: center;
    max-height: 100%;
    margin-left: 0.5em;
    line-height: calc(70px - 1em);
    vertical-align: middle;
}

.logo a img{
    vertical-align: text-bottom;
}

.menu {
    list-style: none;
}

.menu li {
    margin-right: 2em;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    line-height: calc(70px - 1em);
    font-weight: 800;
    color: black;
    vertical-align: middle;
    padding-bottom: 0.4em;
}

.menu li a:hover{
    border-bottom: 2px solid black;
}

.menu a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 16px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.menu a.btn:hover {
    opacity: 60%;
    border-bottom: none;
}

.jumbotron{
    width: 100%;
    height: 60em;
    background-color: #b4d0e7;
    padding-top: 70px;
}

.jumbo-container{
    width: 80%;
    margin: 0 auto;
}

.jumbo-title{
    margin: 5em 0;
}

.jumbo-title h1{
    font-size: 5.5em;
    line-height: 1.3em;
    font-weight: 800;
}

.jumbo-sub{
    width: 30%;
    margin-right: 10em;
}

.jumbo-sub p{
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 3em;
}

.jumbo-sub a.btn {
    display: inline-block;
    background-color: #0061fe;
    padding: 2px 16px;
    line-height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-bottom: 2em;
}

.jumbo-sub a.btn:hover {
    opacity: 60%;
}

.jumbo-img{
    width: calc(70% - 10em );
}

.jumbo-img img{
    max-width: 100%;
}

.arrow-down{
    font-size: 2.5em;
    color: black;
}

